{% extends 'arquivo_auxiliar/base.html' %}
{% block titulo_pagina%}Pesos dos ítens{% endblock %}
{% block corpo_1%}
     <div class="x_panel">
                                <div class="x_title">
                                    <h2>Formulário <small>catalogação dos ítens</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>

                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br>
                                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_nome_item"> Ítem <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form.nome_item }}
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button type="reset" class="btn btn-primary">Cancelar</button>
                                                <button type="submit" class="btn btn-success" value="/">Enviar</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
 </div>
{% endblock %}
